/Lista3/Lista
/Lista2/Listy
/Lista1/Lista 1 - Placek Ireneusz.py
/Projekt/TensorFlow_Model/
/Lista2/Lista 2 - Placek Ireneusz.py
/Lista4/l4.py
/Projekt/PySpark_DT/
/Lista5/lista
/Projekt/PySpark_RF/
/Lista4/TEST Lista 4 - Placek Ireneusz.py
/Lista4/lista
/Projekt/3class.json
/Projekt/PySpark_MLP/
/Projekt/CTG.xls
